.hero_wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 30px;
}
.hero_content{
    padding: 40px;
}
 

.hero_content h2{
    font-size: 3rem;
    line-height: 65px;
}
.hero_content p{
    margin-top: 40px;
    font-size: 1.1rem;
}
.highlight{
    color: var(--primary-color);
}

.hero_btn{
    margin-top: 40px;
}
.primary_btn{
    padding: 0.8rem 1.5rem;
    border: none;
    outline: none;
    color: #fff;
    background: var(--btn-primary-bg);
    border-radius: 0.4rem;
    cursor: pointer;
}
@media only screen and (max-width: 992px) {
    .hero_content h2{
        font-size: 2rem;
        line-height: 50px;
    }
}
@media only screen and (max-width: 768px) {
    .hero_content h2{
        font-size: 1.5rem;
        line-height: 45px;
    }
    .hero_content p{
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 600px) {
    .hero_content, .hero_img{
        width: 100%;
    }
    .hero_wrapper{
        flex-direction: column;
    }
}