.newsletter{
    background: var(--newsletter-bg);
}
.newsletter_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.newsletter_content, .newsletter_form{
    width: 50%;
}
.newsletter_form input{
    padding: 0.7rem 1.5rem;
    border: none;
    outline: none;
    font-size: 1rem;
}
.newsletter_form{
    padding: 0.4rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
}
@media only screen and (max-width: 992px){
    .newsletter_content h2{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 768px){
    .newsletter_wrapper{
        flex-wrap: wrap;
    }
    .newsletter_content, .newsletter_form{
        width: 100%;
    }
    .newsletter_content{
        margin-bottom: 20px;
    }
    .newsletter_form input{
        padding: 8px 20px;
        font-size: 0.9rem;
    }
}